<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const MEET_ID = "<%= meetId %>"
        const MEET_LINK = "<%= meetLink %>"
        const MEET_NAME = "<%= meetName %>"
        const USER = JSON.parse(<%- JSON.stringify(user) %>)
        const btn_text = "<i class=\"far fa-clone\"></i> Copy meeting link"
    </script>
    <title>
        Zode | <%= meetName %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js" defer></script>
    <style>
        input:focus,
        select:focus {
            outline: none;
        }

        .btn:focus {
            outline: none;
            box-shadow: none;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="main__left">
            <div class="main__videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="main__controls">
                <div class="main__controls__block">
                    <div onclick="const swal = Swal.mixin({
                        customClass: {
                            confirmButton: 'swal__confirm__btn',
                        },
                        buttonsStyling: false
                    })
                    swal.fire({
                        title: MEET_NAME,
                        text: MEET_LINK,
                        confirmButtonText: btn_text,
                        position: 'bottom-start',
                        confirmButtonColor: '#343434',
                        background: '#e9e9e9',
                        width: '465px'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var textarea = document.createElement('textarea');
                            textarea.textContent = MEET_LINK
                            textarea.style.position = 'fixed';
                            document.body.appendChild(textarea);
                            textarea.select();
                            try {
                                return document.execCommand('copy')
                            }
                            catch (ex) {
                                console.warn('Copy to clipboard failed.', ex);
                                return false;
                            }
                            finally {
                                document.body.removeChild(textarea);
                            }
                        }
                     })" class="main__controls__meeting_name">
                        <p>Meeting Details</p>
                    </div>
                </div>
                <div class="main__controls__block">
                    <div onclick="turnOffAudio()" class="main__controls__button main__audio_button">
                        <i class="fas fa-microphone"></i>
                    </div>
                    <div onclick="turnOffVideo()" class="main__controls__button main__video_button">
                        <i class="fas fa-video"></i>
                    </div>
                </div>
                <div class="main__controls__block">
                    <div onclick="showChat()" class="main__controls__button main__chat_button">
                        <i class="far fa-comment-alt"></i>
                    </div>
                    <div onclick="
                        axios.post('https:\/\/meet-zode.herokuapp.com/leave', {
                            meetId: MEET_ID
                        }).then((response) => {
                            if(response.status == 200) {
                                window.location.replace(`https:\/\/meet-zode.herokuapp.com/endmeeting?meet=${MEET_ID}`)
                            }
                        })" class="main__controls__leave__button">
                        <span class="leave_meeting">Leave Meeting</span>
                    </div>
                </div>
            </div>

        </div>
        <div id="chat-container" class="main__right">
            <div class="main__header">
                <i class="fas fa-comment-alt"></i>
                <h6>CHAT</h6>
            </div>
            <div class="main__chat_window">
                <ul id="message" class="messages">

                </ul>

            </div>
            <div class="main__message_container">
                <form id="chat-form" class="form__control__msg">
                    <div>
                        <input id="msg" autocomplete="off" type="text" placeholder="Send message to everyone">
                    </div>
                    <div>
                        <button class="btn send__btn">
                            <i class="fas fa-paper-plane message__send__btn"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>